[Unit]
Description=Gunicorn instance to serve ctfd server
After=network.target

[Service]
User={{ service_user }}
Group=www-data
WorkingDirectory={{ server_app_path }}
Environment="PATH={{ venv_path }}/{{ venv_name }}/bin"
EnvironmentFile={{ enviroment_file_path }}
ExecStart={{ venv_path }}/{{ venv_name }}/bin/gunicorn --bind 0.0.0.0:8000 -w 8 'CTFd:create_app()'

[Install]
WantedBy=multi-user.target